@use "default.scss" as *;

.common-tooltip {
 margin: 7px 8px;
 .tooltip-content {
  background: $backdropCenter !important;
  color: $tooltipText !important;
  font-family: $fontOutfitRegular;
  font-size: $font12;
  font-weight: 500;
  line-height: 1.4;
  padding: $space-8 $space-12;
  border-radius: 5px;
 }

 .MuiTooltip-arrow {
  color: $backdropCenter;
 }
}
