@use "../../../styles/default.scss" as *;

.common-backdrop-loader {
    z-index: 1300;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.9rem;
    background: rgba($black, 0.72);
    backdrop-filter: blur(4px);
}
