@use "default.scss" as *;

.common-avatar {
 background-color: transparent !important;
 font-family: $fontOutfitRegular;

 &.primary {
  border: 1px solid alpha($gold, 0.3);
  color: $gold;
 }

 &.neutral {
  background: alpha($appText, 0.05);
  border: 1px solid alpha($appText, 0.1);
  color: alpha($appText, 0.5);
 }

 &.sm {
  width: 1.75rem;
  height: 1.75rem;
  font-size: $font15;
  font-family: $fontOutfitExtraBold;
 }

 &.md {
  width: 2.25rem;
  height: 2.25rem;
  font-size: $font14;
 }

 &.lg {
  width: 4.5rem;
  height: 4.5rem;
  font-size: $font30;
  font-family: $fontOutfitExtraBold;
 }
}
