rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /live_wins/{game} {
      allow get: if true;
      allow list, write: if false;
    }
    match /leaderboards/{board} {
      allow get: if true;
      allow list, write: if false;
    }
    match /pools/{game} {
      allow get: if true;
      allow list, write: if false;
    }
    match /active_games/{uid} {
      allow get: if request.auth != null && request.auth.uid == uid;
      allow list, write: if false;
    }
    match /match_results/{matchId}/players/{uid} {
      allow get: if request.auth != null && request.auth.uid == uid;
      allow list, write: if false;
    }
  }
}
