@use "default.scss" as *;

.common-modal {
 width: 100%;
 margin: $space-8 !important;
 background: $appBg !important;
 border: 1px solid $appCardBorder;
 border-radius: 16px !important;
 padding: 1.5rem;

 &:focus {
  outline: none;
 }

 .modal-title {
  font-family: $fontOutfitRegular;
  font-size: $font18;
  font-weight: 700;
  color: $appText;
  margin-bottom: 0.4rem;
 }

 &.rejoin-game-modal {
  .modal-title {
   padding: 0;
  }
 }
}
