@use '../../../styles/default.scss' as *;

.separator {
    background: $appBorder;

    &.horizontal {
        width: 100%;
        height: 1px;
        margin: 0.5rem 0;
    }

    &.vertical {
        width: 1px;
        height: 100%;
        margin: 0 0.5rem;
    }
}
