@use "default.scss" as *;

.common-label {
 font-family: $fontOutfitSemiBold !important;
 color: $appText !important;

 &.deposit-label {
  color: $appTextMuted !important;
 }
 &.room-field-label {
  text-align: left !important;

  &.room-bet-label {
   text-align: center !important;
   width: 100%;
  }
 }
}
